<div class="container">
  <h2 class="upcoming">Upcoming</h2>
  <hr style="border: 1px solid #ee071d" />
  <div class="row">
    <div class="col-md-2">
      <button class="all">All</button>
    </div>
    <div class="col-md-2">
      <button class="ipl-schedule">IPL-2024</button>
    </div>
    <div class="col-md-2">
      <button class="ipl-schedule">SL-W VS SA-W</button>
    </div>
    <div class="col-md-2">
      <button class="ipl-schedule">PAK-W VS WI-W</button>
    </div>
    <div class="col-md-2">
      <button class="ipl-schedule">RCA-T20</button>
    </div>
    <div class="col-md-2">
      <button class="ipl-schedule">ECS Protugal</button>
    </div>
  </div>

  <div class="mt-2 ipl-date">
    <h4 style="font-size: 16px; text-align: center">14 APR,2024,Sunday</h4>
  </div>

  <div class="ecs-protugal" >
    <p>ECS Portugal T10 <span>></span></p>


  </div>
</div>
