<div class="container" style="margin-top:20px">
  <h2 class="upcoming">Upcoming</h2>
  <hr style="border: 1px solid #ee071d" />
  <div class="row">
    <div class="col-md-2">
      <button class="all" (click)="filterData('All')">All</button>
    </div>
    <div class="col-md-2 mb-2" *ngFor="let item of tabs">
      <button
        class="ipl-schedule"
        (click)="filterData(item.name)"

      >
        {{ item.name }}
      </button>
    </div>
  </div>

  <div *ngIf="allListData !== undefined && !isTabsClick; else other">
    <div *ngFor="let data of matchesObj">
      <div class="mt-2 ipl-date">
        <h4
          style="
            font-size: 14px;
            text-align: center;
            position: relative;
            top: 2px;
          "
        >
          {{ data.key | custom }}
        </h4>
      </div>

      <div class="ecs-protugal" *ngFor="let item of data.value">
        <p>{{ item.key }} <span>></span></p>
        <div class="row" *ngFor="let val of item.value">
          <div class="col-md-6 mt-2">
            <div class="card" style="box-shadow: 3px 2px 12px; height: 144px">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <img src="{{ val.t1_flag }}" />&nbsp;&nbsp;<span>{{
                      val.t1_key
                    }}</span>
                  </div>

                  <div class="mt-2">
                    <img src="{{ val.t2_flag }}" />&nbsp;&nbsp;<span>{{
                      val.t2_key
                    }}</span>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div style="position: relative; top: 53px; left: 71%">
                    <h3 style="font-size: 16px; color: #afa3a3">Time</h3>
                    <p
                      style="
                        line-height: 6px;
                        font-size: 19px;
                        position: relative;
                        right: 7px;
                      "
                    >
                      {{ val.time | time }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #other>
    <router-outlet></router-outlet>
  </ng-template>
</div>
