.upcoming {
  font-size: 21px;
  color: #dc3545;
}

  .ipl-schedule {
    outline: none;
    background: #fff;
    width: 140px;
    border: 1px solid #a9a0a0;
    border-radius: 20px;
    padding: 4px;
    cursor: pointer;
  }

  .all
  {
    width: 64px;
    color: #dc3545;
    border: 1px solid #fff;
    border-radius: 29px;
    padding: 5px;
    background: #f1d7d9;
    cursor: pointer;
  }

  .ipl-date{
    background: #ede5e5;
    padding: 1px;
    position: relative;
    top: 20px;
  }

  .ecs-protugal{
    margin-top: 46px;
    color: #0b6af5;
    font-weight: bold;
  }
  .card img{
    width: 50px;
  }
